<div class="card-body">
      <h4 class="card-title">{{date}}</h4>
</div>

<div class="row">
<div class="col-md-12">

<form [formGroup]="interviewform" (ngSubmit)="createinterview()">
<div class="example-container">
   <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field> 

<mat-form-field>
  <mat-select placeholder="Gender" [(value)]="gendervalue" formControlName="gender">
    <mat-option value="female">Female</mat-option>
    <mat-option value="male">Male</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Phone" formControlName="phone">
  </mat-form-field>

<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Technical Skills" formControlName="department"></textarea>
  </mat-form-field>

<mat-form-field>
  <mat-select placeholder="Type of Interview" [(value)]="interviewselect" formControlName="interviewtype">
    <mat-option value="F2F">F2F</mat-option>
    <mat-option value="Systemtest">System test</mat-option>
  </mat-select>
</mat-form-field>

  <!--<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>-->

<mat-form-field>
  <mat-select placeholder="Interviewer" [(value)]="interviewersel" formControlName="interviewer">
    <mat-option value="Person1">Person 1</mat-option>
    <mat-option value="Person2">Person 2</mat-option>
  </mat-select>
</mat-form-field>
<ngb-timepicker [(ngModel)]="time" formControlName="time"></ngb-timepicker>

<div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" formControlName="date"
             name="dp" [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="/assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
  </div>
  <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
</ng-template>

  <button type="submit" class="btn" [disabled]="!interviewform.valid">
    Create New Interview</button>
    </div>
</form>

<button (click)="resete()">reset</button>
</div>
</div>




<div style="margin-bottom:17em">&#160;</div>